/* CSS Document - Query Query Admin*/

#toplevel_page_menu-QueryQuery .wp-menu-image{background-image:url(zamartz_2013_fade.png);margin-right: 5px;}
#toplevel_page_menu-QueryQuery:hover .wp-menu-image, #toplevel_page_menu-QueryQuery.current .wp-menu-image {background-image:url(zamartz_2013.png);}
.queryquery-admin-image {border: 1px dotted #ccc;-webkit-box-shadow: 8px 10px 13px -8px rgba(0,0,0,0.5);-moz-box-shadow: 8px 10px 13px -8px rgba(0,0,0,0.5);box-shadow: 8px 10px 13px -8px rgba(0,0,0,0.5);width: auto;
max-width: 800px;}