/* CSS Document - Query Query Front End Default*/

.queryquery-container{}
.queryquery-head-title{border-top: 5px black solid;padding: 5% 0px !important;}
.queryquery-item {display: inline-block;width: 100%; margin:0px 0px 5% 0px!important;}
.queryquery-tumbnail{float: left;}
.queryquery-title{margin: 0px 0px 0px 5% !important;width: 60%;float: left;clear:none;}
.queryquery-date{width: auto;float: left;border: 1px dotted black;border-width: 0px 0px 1px 1px;clear: left;margin: 0px !important;padding: 0px 5% !important;}
.queryquery-details{width: auto;float: none;padding: 5% 0px 5% !important;border: 1px dotted black;border-width: 0px 0px 1px 1px;margin: -1px 0px 0px 5% !important;padding-left:5% !important;clear: left;text-align: left;}
.queryquery-more{}
.queryquery-link{}


@media screen and (max-width: 750px){
.queryquery-title{width: 50%;}
}
@media screen and (max-width: 400px){
	.queryquery-item {}
	.queryquery-container {text-align: center;}
	.queryquery-container ul{margin-left:0px !important;}
	.queryquery-title{ width: auto;float: none;margin: 0px !important;padding-bottom: 5% !important;}
	.wp-post-image {float: none;}
}